extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam leo non erat efficitur hendrerit in sit amet ligula. Quisque suscipit rhoncus ex, vel auctor tellus. Aliquam erat volutpat. Praesent sapien mauris, lacinia sit amet vestibulum eu, ullamcorper eget sapien. Morbi at sapien varius, feugiat lectus in, mattis turpis. Duis ac consequat mauris, sed bibendum felis. Nullam scelerisque efficitur est, vel vestibulum turpis sagittis sit amet. Fusce vitae feugiat nibh. Aliquam nec dolor suscipit, porta ligula nec, hendrerit libero. Vivamus ultricies, leo ut dignissim sagittis, eros turpis condimentum tortor, vel tristique mi nulla quis tellus. Vestibulum pharetra nunc eu magna scelerisque, ac efficitur lacus sagittis. Curabitur lacinia mi neque, nec scelerisque sem lobortis nec.
      p
        | Aliquam erat volutpat. Cras in scelerisque elit, vitae mollis est. Nulla non magna non nunc volutpat consequat quis in nisl. Integer iaculis nisl nibh, sed consectetur mauris accumsan sit amet. Donec ac gravida leo. Suspendisse potenti. Vivamus a mauris ut lectus porttitor porttitor. Vivamus a ullamcorper ex. Phasellus scelerisque luctus turpis, nec laoreet ex imperdiet ut. Pellentesque molestie semper bibendum. Sed venenatis facilisis fermentum. In at libero viverra, sagittis elit dictum, auctor nisi. Donec congue quam nulla. Aenean ut tincidunt tortor. Nullam nec lectus tincidunt, ultrices ipsum quis, condimentum risus. Duis at tortor vel est hendrerit euismod sed nec erat.
