extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Review Starcups
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/location", method="get", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Name
          .col-xs-12.col-sm-10
            input#name.form-control(name="name")
    .col-xs-12.col-md-6
